[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dv-processing = "*"
opencv-python = "*"
dv = "*"
pybind11-stubgen = "*"
ipython = "*"
ipykernel = "*"
numpy = "*"
matplotlib = "*"
plotly = "*"
nbformat = ">=4.2.0"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
start   = "python cam_to_opencv.py"
